.features{
    width: 1200px;
    padding: 94px 0;
    margin: 0 auto;
}

.features-list{
    @include flex($align-items:flex-start);
    margin: 0 auto;
    &__item{
        width: 270px;
        &::before{
            display: block;
            content: '';
            background-color: getColor('box');
            border-radius: 4px;
            height: 120px;
            width: 270px;
            margin-bottom: 30px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 70px 70px;
        }
        &:nth-child(1)::before{
            background-image: url(../images/antenna.svg);
        }
        &:nth-child(2)::before{
            background-image: url(../images/clock.svg);
        }
        &:nth-child(3)::before{
            background-image: url(../images/diagram.svg);
        }
        &:nth-child(4)::before{
            background-image: url(../images/astronaut.svg);
         }
    }
    &__title{
        margin: 0;
        padding-right: 30px ;
        padding-bottom: 9.69px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: getColor('title');
    }
    &__text{
        margin: 0;
        padding-right: 30px ;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: getColor('text');
    }
}





