.hero {
    padding: 200px 0;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 768px){
        padding: 118px 0;
    }
    @media screen and (max-width: 480px){
        min-width: 320px;
    }
    &__title{
        @include fonts(44px, 900);
        text-align: center;
        text-transform: uppercase;
        color: getColor('white');
        margin-bottom: 30px;
        @media screen and (max-width: 768px){
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 1.56px;
        }
        }
    &__btn{
        @extend %btn;
    width: 216px;
    transition:  transform 500ms ease;
        &:hover {
            transform: scale(1.2);
        }
        @media screen and (max-width: 768px){
        width: 200px;
        }
    }
    }
