.regular-customers{
    padding: 94px 0;
    &__title {
        font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 50px;
    animation: customers-title 1s infinite;
    }
    
}

@keyframes customers-title{
    0% {
        color: getColor('title');
    }

    100%{
        color: getColor('text');
    }
}

.customers-list {
    @include flex();
    width: 1170px;
    margin: 0 auto;
    &__item {
        @include flex(center);
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: transform 500ms ease;
        &:hover {
            border: 1px solid #2196F3;
            transform: scale(1.1);
        }   
        &:hover .customers-list__svg {
            fill: getColor('hover');
        }     
    }
    &__link {
        @include flex();
        fill: getColor('svg');
    }
}