.team{
    background: #F5F4FA;
  
    padding: 94px 0;
}

.team-title{
    
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;

}
.team-list{
   display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.card{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-bottom: 30px;
}

.thumb-team {
    width: 270px;
}

.team-list-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 30px;
}

.list-title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: #212121;
text-align: center;
letter-spacing: 0.03em;
    margin-bottom: 10px;
 }
 
 .list-text{
font-weight: 400;
font-size: 16px;
line-height:1.18;
color: #757575;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 16px;
}

.social-network {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin: 0 auto;
    
}

.social-link {
   fill: #AFB1B8;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition: transform 400ms ease;
}

.social:hover {
    border-radius: 50%;
    background-color: #2196F3;
    transform: scale(1.2);
}

.social:hover .social-svg {
    fill: #FFFFFF;
}