.work{
    padding-bottom: 94px;
    &__title{
        text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    }
}

.work-list{
    display: flex;
    justify-content:space-between;
    margin: 50px auto 0;
    width: 1200px;
    position: relative;
        &__thumb {
            width: 370px;
            height: 294px;
            overflow: hidden;
            &:nth-child(n)::after {
                content: "Десктопні додатки";
            
                display: flex;
                align-items: center;
                justify-content: center;
            
                width: 370px;
                height: 70px;
                background-color: rgba(47, 48, 58, 0.80);
            
                color: #FFF;
            text-align: center;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            
            position: absolute;
            bottom: 0;
            }
            &:nth-child(2)::after {
                content: "Мобільні додатки";
            }
            &:nth-child(3)::after {
                content: "Дизайнерські рішення";
            }   
        }
        &__img{
            width: 100%;
            object-fit: contain;
            object-position: center;
            transition: transform 500ms ease;
         }
         &__thumb:hover &__img{
            transform: scale(1.2);
}
}