body {
    font-family: $primary-font;
    font-style: normal;}
p, ul, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    width: 1600px;
    margin: 0 auto;
}
